# Maven
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# agent
.agent/
promt.txt